.outter-wrapper
	.content-container
		.article-wrapper
			a(href="dummy.html").article-container.one
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…


			a(href="dummy.html").article-container.two
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.three
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.four
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.five
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.six
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.seven
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.eight
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.nine
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a(href="dummy.html").article-container.ten
				.img-wrapper
				.text-wrapper
					span.date 2016.01.01
					br
					span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
					br
					span.preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

			a.btn(href="dummy.html")
				p More


		.side-bar-wrapper
			a.l-banner(href="dummy.html") 
				p Dummy banner

			.recommend-section
				span.header Recommend

				a(href="dummy.html").recommend-container
					.img-wrapper-recommend

					.text-wrapper-recommend
						span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
						span.date 2016.03.26
				a(href="dummy.html").recommend-container
					.img-wrapper-recommend

					.text-wrapper-recommend
						span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
						span.date 2016.03.26
				a(href="dummy.html").recommend-container
					.img-wrapper-recommend

					.text-wrapper-recommend
						span.title サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
						span.date 2016.03.26



			.s-banner-wrapper
				a(href="dummy.html").s-banner-container
					p Dummy banner
				a(href="dummy.html").s-banner-container.second
					p Dummy banner
				a(href="dummy.html").s-banner-container.third
					p Dummy banner

		a.to-top(href="#top")



